* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.img-ufo {
  width: 15%;
  background-image: url(blog/UFO.png);
  background-size: contain;
  background-position: center;
  position: relative;
  animation: moveUpDown 4s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-500px);
  }
  50% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(-500px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.empty-column {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: black;
  margin: 4px;
  font-family: 'Courier New';
  width: 20%;
  font-size: 200%;
  color: white;
}
.one-word-column {
  flex: 1;
  padding: 0;
  text-align: center;
  background-color: transparent;

  font-family: 'Courier New';
  width: 20%;
  font-size: 250%;
  color: white;
}
.hover-frontpage:hover {
  color: rgb(0, 255, 221);
  font-weight: bold;
}
.wrapper {
  position: relative;
  height: 10vh;
  margin: 0 auto;
}
a:active {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.nav-bar-font {
  flex: 1;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
  background-color: black;
  padding-left: 2%;
  font-family: 'Courier New';
  margin: 0px;
  width: 15%;
  font-size: 100%;
  color: white;
}
.img-planet {
  height: 5%;
  width: 5%;
  padding-left: 3%;
}

.blog-intro {
  text-align: center;
  background-color: black;
  padding: 0;
  padding-top: 4%;
  font-family: 'Courier New';
  margin: 0;

  width: 60%;
  font-size: 180%;
  color: white;
}
.blog-writing {
  text-align: center;
  background-color: transparent;
  padding: 0;
  padding-top: 0%;
  font-family: 'Courier New';
  margin: 0;

  width: 100%;
  font-size: 100%;
  color: white;
}
.blog-title-writing {
  text-align: center;
  background-color: black;
  padding: 0;
  padding-top: 0%;
  font-family: 'Courier New';
  margin: 0;

  width: 100%;
  font-size: 140%;
  color: white;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.text {
  width: 100%;
  align: left;
}

.img-alien {
  display: block;
  margin: 0 auto;
  width: 9%;
  justify-content: center;
  align-items: center;
}
body {
  text-align: center;
}

h1 {
  text-align: center;
}

.img-abduct {
  justify-content: center;
  align-items: center;
  width: 10%;
}

.img-compas {
  justify-content: center;
  align-items: center;
  width: 10%;
}

.blog-writing-learn {
  text-align: center;
  background-color: transparent;
  padding: 0;
  padding-top: 3%;
  font-family: 'Courier New';
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 120%;
  color: white;
}

.blog-writing-teach {
  text-align: center;
  background-color: transparent;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Courier New';
  margin: 0;
  text-align: center;
  font-size: 120%;
  color: white;
}

.blog-writing-meet {
  text-align: center;
  background-color: transparent;
  padding: 0;
  font-family: 'Courier New';
  margin: 0;
  text-align: center;
  font-size: 110%;
  color: white;
}

.blog-writing-with-padding {
  text-align: left;
  background-color: transparent;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 3%;
  font-family: 'Courier New';
  margin: 0;
  font-size: 100%;
  color: white;
}

p {
  font-family: 'Courier New';
  color: white;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 1%;
}

.pad-story {
  font-family: 'Courier New';
  color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 1%;
}
